.Auth {
    width: 100%;

    .Header {
        padding: 1rem 2.5rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
    }
}
