@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    color: #ecedef;
    background: #2d2d2d;
    font-size: 1.6rem;
    font-family: 'Poppins', Arial, san-serif;
}

@media screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}
